CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq53xx=y
CONFIG_TARGET_qualcommax_ipq53xx_DEVICE_jdcloud_be6500_pcie_probe_initramfs=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
CONFIG_DEVEL=y
CONFIG_EXTERNAL_KERNEL_TREE="/home/nara0318.guest/src/qsdk14-r9/linux-ipq-6.6"
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_kmod-mdio-ipq4019-be6500=y
CONFIG_PACKAGE_uboot-envtools=y
# CONFIG_TARGET_SQUASHFS is not set
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
# CONFIG_PACKAGE_autocore is not set
# CONFIG_PACKAGE_ca-bundle is not set
# CONFIG_PACKAGE_cpufreq is not set
# CONFIG_PACKAGE_default-settings is not set
# CONFIG_PACKAGE_default-settings-chn is not set
# CONFIG_PACKAGE_dnsmasq-full is not set
# CONFIG_PACKAGE_e2fsprogs is not set
# CONFIG_PACKAGE_firewall4 is not set
# CONFIG_PACKAGE_iwinfo is not set
# CONFIG_PACKAGE_kmod-nft-fib is not set
# CONFIG_PACKAGE_kmod-nft-fullcone is not set
# CONFIG_PACKAGE_kmod-nft-nat is not set
# CONFIG_PACKAGE_kmod-nft-offload is not set
# CONFIG_PACKAGE_kmod-ppp is not set
# CONFIG_PACKAGE_kmod-pppoe is not set
# CONFIG_PACKAGE_kmod-pppox is not set
# CONFIG_PACKAGE_kmod-qrtr is not set
# CONFIG_PACKAGE_kmod-qrtr-smd is not set
# CONFIG_PACKAGE_libopenssl is not set
# CONFIG_PACKAGE_lua is not set
# CONFIG_PACKAGE_luci is not set
# CONFIG_PACKAGE_luci-app-cpufreq is not set
# CONFIG_PACKAGE_luci-app-firewall is not set
# CONFIG_PACKAGE_luci-app-package-manager is not set
# CONFIG_PACKAGE_luci-base is not set
# CONFIG_PACKAGE_luci-compat is not set
# CONFIG_PACKAGE_luci-light is not set
# CONFIG_PACKAGE_luci-lua-runtime is not set
# CONFIG_PACKAGE_luci-mod-admin-full is not set
# CONFIG_PACKAGE_luci-mod-network is not set
# CONFIG_PACKAGE_luci-mod-status is not set
# CONFIG_PACKAGE_luci-mod-system is not set
# CONFIG_PACKAGE_luci-proto-ipv6 is not set
# CONFIG_PACKAGE_luci-proto-ppp is not set
# CONFIG_PACKAGE_luci-theme-bootstrap is not set
# CONFIG_PACKAGE_nftables-json is not set
# CONFIG_PACKAGE_odhcp6c is not set
# CONFIG_PACKAGE_odhcpd-ipv6only is not set
# CONFIG_PACKAGE_opkg is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_ppp-mod-pppoe is not set
# CONFIG_PACKAGE_rpcd is not set
# CONFIG_PACKAGE_rpcd-mod-file is not set
# CONFIG_PACKAGE_rpcd-mod-iwinfo is not set
# CONFIG_PACKAGE_rpcd-mod-luci is not set
# CONFIG_PACKAGE_rpcd-mod-rrdns is not set
# CONFIG_PACKAGE_rpcd-mod-ucode is not set
# CONFIG_PACKAGE_shellsync is not set
# CONFIG_PACKAGE_uclient-fetch is not set
# CONFIG_PACKAGE_uhttpd is not set
# CONFIG_PACKAGE_uhttpd-mod-ubus is not set
# CONFIG_SIGNED_PACKAGES is not set
# CONFIG_USE_SECCOMP is not set
