CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq53xx=y
CONFIG_TARGET_qualcommax_ipq53xx_DEVICE_jdcloud_be6500_usb_native=y
CONFIG_DEVEL=y
CONFIG_EXTERNAL_KERNEL_TREE="/home/nara0318.guest/src/qsdk14-r9/linux-ipq-6.6"
CONFIG_PACKAGE_kmod-usb-phy-ipq5018=y
CONFIG_PACKAGE_be6500-usb-autostart=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
