CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq53xx=y
CONFIG_TARGET_qualcommax_ipq53xx_DEVICE_jdcloud_be6500_wired_initramfs=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
CONFIG_DEVEL=y
CONFIG_EXTERNAL_KERNEL_TREE="/home/nara0318.guest/src/qsdk14-r9/linux-ipq-6.6"
# CONFIG_TARGET_SQUASHFS is not set
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
