* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.white-space {
    white-space:pre!important;
}
li{
	list-style: none;
	float: left;
}
.box{
	padding: 44px 60px 44px 60px ;
	color: #333333;
}
.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 550;
	font-size: 18px;
	border-bottom: 1px solid #EEEEEE;
}
.title .text{
	margin-bottom: 20px;
}
.box .online{
	margin-top: 30px;
}
.box .table{
	margin-top: 20px;
	padding: 20px 20px 10px 20px;
	border: 1px solid  #DDDDDD;
	font-size: 14px;
	color:  #999999;
}
.box .table li{
	width: 20%;
}
.box .table ul{
	overflow: hidden;
}
.box .table ul.head,
.box .table .data ul {
	display: flex;
	align-items: center;
	width: 100%;
}
.box .table ul.head > li:nth-child(1),
.box .table .data ul > li:nth-child(1) {
	width: 18% !important;
}
.box .table ul.head > li:nth-child(2),
.box .table .data ul > li:nth-child(2) {
	width: 18% !important;
}
.box .table ul.head > li:nth-child(3) {
	width: 14% !important;
}
.box .table ul.head > li:nth-child(4) {
	width: 17% !important;
}
.box .table ul.head > li:nth-child(5),
.box .table .data ul > li:nth-child(3) {
	width: 13% !important;
}
.box .table ul.head > li:nth-child(6),
.box .table .data ul > li:nth-child(4) {
	width: 12% !important;
}
.box .table ul.head > li:nth-child(7),
.box .table .data ul > li:nth-child(5) {
	width: 8% !important;
}
.box .table .data ul > li:nth-child(1) { order: 1; }
.box .table .data ul > li:nth-child(2) { order: 2; }
.box .table .data ul > li:nth-child(3) { order: 5; }
.box .table .data ul > li:nth-child(4) { order: 6; }
.box .table .data ul > li:nth-child(5) { order: 7; }
.box .table .device-type {
	width: 14% !important;
	order: 3;
	padding-right: 10px;
}
.box .table .device-vendor {
	width: 17% !important;
	order: 4;
	padding-right: 10px;
}
.box .table .device-type,
.box .table .device-vendor {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table img{
	margin-right:10px ;
	vertical-align: middle;
}
.box .head{
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.head li{
	font-weight: 550
}

.edit{
	cursor: pointer;
	display: inline-block;
	border-radius: 4px;
	font-size: 14px;
	padding: 2px 6px;
	border: 1px solid #4762FE;
	color:#4762FE;
}
.status{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 0 6px;
	vertical-align: middle;
}
.protect-status {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.protect-status img {
	width: 18px;
	margin: 0;
}
.offline .status{
	background-color:#999999 ;
}
.online .data{
	color: #333333;
}
.data{
	margin-top:20px;
}
.data .name {
	width: 18%!important;
	padding-right: 10px;
	box-sizing: border-box;
	white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pop-ups{
	width: 564px;
	border: 1px solid #EEEEEE;
	border-radius: 20px;
	padding: 30px 40px;
	background-color: #FFFFFF;
	position: fixed;
	top:0px;
	left:50%;
	transform: translateX(-50%);
	z-index: 10;
	display: none;
}
.pop-ups .top{
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEEEEE;
	font-weight: 550;
	font-size: 18px;
}
.pop-ups .left{
	float: left;
	color: #333333;
}
.pop-ups .right{
	float: right;
}
.mask{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.3;
	z-index: 9;
	display: none;
}
.off{
	cursor: pointer;
}
.pop-ups .main{
	color: #999999;
	padding-top: 15px;
}
.pop-ups .main .active{
	padding: 15px 0;
}
.pop-ups .main span {
	display: inline-block;
	width: 120px;
}
.pop-ups .main .ipt{
	display: inline-block;
	height: 46px;
}
.pop-ups .main .switch{
	display: inline-block;
	cursor: pointer;
}
.button{
	width: 360px;
	background-color: #4762FE;
	border-color: #4762FE;
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 14px;
	color: #fff;
	border: 1px solid transparent;
	outline: none;
}
.pop-ups .speed input{
	width: 305px;
}

.errNo_tip{
	color: red;
    margin: 0;
	padding-left: 123px;
}

.topol-com-wrap {
	display: none;
	position: relative;
}
.topol-com-wrap .arrow_left,
.topol-com-wrap .arrow_right {
	display: none;
	position: absolute;
	bottom: 114px;
	width: 55px;
	cursor: pointer;
}
.topol-com-wrap .arrow_left {
	left: 0;
}
.topol-com-wrap .arrow_right {
	right: 0;
}
.device-title-right {
	display: none;
}
.device-title-right img {
	width: 33px;
}
.device-title-right >div {
	cursor: pointer;
}
.device-title-right >div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.device-title-right p {
	margin-top: 2px;
	font-size: 8px;
	font-weight: 400;
	line-height: 11px;
	color: #999999;
}
.device-title-right span {
	display: inline-block;
	width: 1px;
	height: 21px;
	margin: 5px 10px 0 10px;
	background-color: #DDDDDD;
}
.device-title-right-active {
	color: #4762FE!important;
}
