CONFIG_PACKAGE_luci-app-qmodem-next=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-rmnet=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-mbim=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_qmodem_INCLUDE_SEAL=y
CONFIG_PACKAGE_qmodem_INCLUDE_ndisc6=y
# CONFIG_PACKAGE_qmodem_INCLUDE_rdisc6 is not set
# CONFIG_PACKAGE_qmodem_INCLUDE_no_ndisc_rdisc6 is not set
CONFIG_PACKAGE_qmodem_INCLUDE_generic-qmi-wwan=y
# CONFIG_PACKAGE_qmodem_INCLUDE_vendor-qmi-wwan is not set
# CONFIG_PACKAGE_qmodem_INCLUDE_nss-qmi-wwan is not set
CONFIG_PACKAGE_qmodem_USE_TOM_CUSTOMIZED_QUECTEL_CM=y
# CONFIG_PACKAGE_qmodem_USING_QWRT_QUECTEL_CM_5G is not set
# CONFIG_PACKAGE_qmodem_USING_NORMAL_QUECTEL_CM is not set
# CONFIG_PACKAGE_qmodem_INCLUDE_ADD_PCI_SUPPORT is not set
# CONFIG_PACKAGE_qmodem_INCLUDE_ADD_MTK_T7XX_SUPPORT is not set
# CONFIG_PACKAGE_qmodem_INCLUDE_ADD_QFIREHOSE_SUPPORT is not set
